.dart_tool/
.packages
.pub/
build/
/android/
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
rust/target/
*.jks
*.keystore
.env
.DS_Store
keystore-base64.txt
release-secrets.txt
*.p12
*.pfx
